hero {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: #f5f7fa;
    color: #333;
}

header {
    background: #0a192f;
    padding: 15px 0;
}

nav {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.hero {
    text-align: center;
    padding: 100px 20px;
    background: linear-gradient(135deg, #0078D4, #00B4D8);
    color: white;
    border-bottom-left-radius: 50% 10%;
    border-bottom-right-radius: 50% 10%;
}

.hero h1 {
    font-size: 2.8rem;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.hero-buttons a {
    margin: 10px;
    padding: 12px 25px;
    background: white;
    color: #0078D4;
    text-decoration: none;
    border-radius: 8px;
    font-weight: 600;
    transition: 0.3s;
}
.hero-buttons a:hover {
    background: #e6f2ff;
    transform: translateY(-3px);
}


section {
    padding: 60px 10%;
}

h2 {
    margin-bottom: 30px;
}

.skill-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
}

.skill-grid div {
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.05);
}

.card {
    background: #fff;
    padding: 25px;
    margin-bottom: 25px;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.08);
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 25px rgba(0,0,0,0.15);
}

footer {
    text-align: center;
    padding: 20px;
    background: #0a192f;
    color: white;
}

.resume-btn {
    margin: 10px;
    padding: 10px 20px;
    background: #ffffff;
    color: #0078D4;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}
.resume-btn:hover {
    background: #e6f2ff;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    color: #333;
    background: #f5f7fa;
}
